<!DOCTYPE html>
<html lang="PT-BR>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List!</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app">
        <!-- Cada página renderizada 
            utilizará o mesmo arquivo HTML
            para inicializar e todo seu conteúdo
            será incorporido nessa div -->
    </div>
    <script type="module" src="./app.js"></script>
</body>
</html>