* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #e5d4ff;
    color: #191919
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.campo label {
    margin-bottom: 5px;
    font-weight: bold;
}

.campo input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 11px;
}

.campo input:focus {
    outline: 2px solid #c8a3ff;
}